<div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent">
      <div class="p-4">
        <p class="d-inline">
          <a href="#" title="Meu Link">Home</a>
        </p>
        <p class="d-inline">
          <a href="#" title="Meu Link">Listagem</a>
        </p>
        <p class="d-inline">
          <a href="#" title="Meu Link">Config.</a>
        </p>
        <p class="d-inline">
          <a href="#" title="Meu Link">Sair</a>
        </p>
      </div>
    </div>
    <nav class="navbar navbar-dark ">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
  </div>