<div class="flex">
	<div class="card">
		<h4>L O G I N</h4>
		<div class="input-group mb-3">
			<input type="text" class="form-control" placeholder="Email" [(ngModel)]="newUser.email" >
		</div>
		<div class="input-group mb-3">
			<input type="password" class="form-control" placeholder="Senha" aria-label="Username" aria-describedby="basic-addon1" [(ngModel)]="newUser.password">
		</div>
		<button class="btn" type="submit" (click)="loginUser()" >Entrar</button>
		<p class="botao">
			<a routerLink='/register' title="Meu Link">Cadastre-se</a>
		</p>
	</div>
</div>